/* Сброс отступов и базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Установка базового шрифта и цвета фона */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

/* Центрированный контейнер с отступами */
.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem; /* чтобы было красиво на маленьких экранах */
}
